fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
python-jose[cryptography]>=3.3.0
passlib>=1.7.4
bcrypt>=4.0.1
python-multipart>=0.0.5
python-dateutil>=2.8.2
fastapi-mail
PySide6>=6.5.0
pandas>=2.0.0
openpyxl>=3.1.0
